*.pem
*.tsbuildinfo
.DS_Store
.env
.pnp.js
.vercel
.yarn/install-state.gz
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
next-env.d.ts
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*